
/* ----------------------------------------------------------- */

a{
  color: #1ED760;
  text-decoration: none;
  target="_blank";
}

a:link {
  color: #1ED760;
}

a:visited {
  color: #1ED760;
}

a:hover {
  /* color: #FD1015; */
  color: #1ED760;
}

/* ----------------------------------------------------------- */

h1 {
  text-align:center;
  color:#1ED760;
  /* font-size: 160%;
  width: 1000px;
  */
}

/* ----------------------------------------------------------- */
